.m-5 {
    margin: 5%;
}

html, body {
    height: 100%;
}

.chart-canvas {
    width: 100% !important;
    height: auto !important;
    max-height: 300px;  /* グラフの最大高さを指定 */
}

@media (max-width: 768px) {
    .chart-canvas {
        max-height: 200px;  /* モバイルサイズでの高さを調整 */
    }
}