{% extends "registration/base.html" %}
{% load filters %}

{% block title %}{{ page_title|default:"サインアップ" }} | Life management{% endblock %}
{% block meta_description %}Life managementに無料登録して、家計簿・タスク・習慣・メモを一元管理しましょう。{% endblock %}

<!-- コンテンツ -->
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-3 mb-3 shadow">
        <!-- カードヘッダー -->
        <div class="card-header">
          <h4>{{ process_name }}</h4>
        </div>
        <!-- カードボディー -->
        <div class="card-body">
          <form action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
            <div class="text-danger p-2">
              {% for error in form.non_field_errors %}
                {{ error|replace:"Username,ユーザーネーム"|replace:"Custom user,ユーザー" }}
              {% endfor %}
            </div>
            {% for field in form %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {% if field.errors %}
                  {{ field|add_class:"is-invalid" }}
                {% else %}
                  {{ field }}
                {% endif %}
                {% if field.errors %}
                  <ul class="invalid-feedback list-unstyled mb-0">
                    {% for error in field.errors %}
                      <li>{{ error|replace:"username,ユーザーネーム"|replace:"Username,ユーザーネーム"|replace:"Custom user,ユーザー" }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endfor %}
            {% csrf_token %}
            <!-- ボタン -->
            <button type="submit" class="btn btn-primary btn-lg btn-block mt-2">{{ button_text }}</button>
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block mt-4" onclick="history.back()">キャンセル</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
