{% extends "registration/base.html" %}
{% load filters %}

<!-- コンテンツ -->
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-3 mb-3 shadow">
        <!-- カードヘッダー -->
        <div class="card-header" style="background-color: #add8e6; color: #333;">
          <h4>{{ process_name }}</h4>
        </div>
        <!-- カードボディー -->
        <div class="card-body">
          <form action="" method="POST">
            <div class="text-danger p-2">
              {% for error in form.non_field_errors %}
                {{ error|replace:"Username,ユーザーネーム"|replace:"Custom user,ユーザー" }}
              {% endfor %}
            </div>
            {% for field in form %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type|default:'text' }}"
                       class="form-control {% if field.errors %}is-invalid{% endif %}"
                       id="{{ field.id_for_label }}"
                       name="{{ field.name }}"
                       value="{{ field.value|default:'' }}"
                       {% if field.field.widget.attrs.placeholder %}placeholder="{{ field.field.widget.attrs.placeholder }}"{% endif %}>
                {% if field.errors %}
                  <ul class="invalid-feedback list-unstyled mb-0">
                    {% for error in field.errors %}
                      <li>{{ error|replace:"username,ユーザーネーム"|replace:"Username,ユーザーネーム"|replace:"Custom user,ユーザー" }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endfor %}
            {% csrf_token %}
            <!-- ボタン -->
            <button type="submit" class="btn btn-lg btn-block mt-2" style="background-color: #add8e6; color: #333;">{{ button_text }}</button>
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block mt-4" onclick="history.back()">キャンセル</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
